#version=DEVEL
ignoredisk --only-use=vda

# Partition clearing information
clearpart --none --initlabel

# Use graphical install
graphical

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8 --addsupport=cs_CZ.UTF-8

# Network information
network  --bootproto=dhcp --device=ens3 --ipv6=auto --activate
network  --hostname=fedora.example.com

# Root password
rootpw --iscrypted $6$VsL7LaLzjB4tOTcR$Lt0wZ8VkCw3X5bVwMItzPBOokauEQR9Fj9MG0X6olrMay86yJ0nX3U8CvcjdzA4TnCUhzurxFvp1AXYtZ9Am7.

# X Window System configuration information
xconfig  --startxonboot

# Run the Setup Agent on first boot
firstboot --enable

# System services
services --enabled="chronyd"

# System timezone
timezone Europe/Prague --isUtc
user --groups=wheel --name=rludva --password=$6$I1wo40vADlIxmy7v$efUF0wUzQX8.VOZsMh469HBSAh0e0cjvmh1OHKdwKrJClQBU5/AoVnZfJXqWSIqfAMOD8PPyIo6ShyrCsXOJx. --iscrypted --uid=104138 --gecos="Radomir Ludva" --gid=104138

# System bootloader configuration
bootloader --location=mbr --boot-drive=vda

%packages
@^workstation-product-environment

%end

%addon com_redhat_kdump --disable --reserve-mb='128'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
