#version=DEVEL
# X Window System configuration information..
xconfig  --startxonboot

# License agreement..
eula --agreed

# System authorization information..
auth --enableshadow --passalgo=sha512
repo --name="Server-HighAvailability" --baseurl=file:///run/install/repo/addons/HighAvailability
repo --name="Server-ResilientStorage" --baseurl=file:///run/install/repo/addons/ResilientStorage

# Use CDROM installation media..
cdrom

# Use graphical install..
graphical

# Run the Setup Agent on first boot..
firstboot --enable

# System services..
services --enabled="chronyd"

# Keyboard layouts..
keyboard --vckeymap=us --xlayouts='us'

# System language..
lang en_US.UTF-8

# Network information..
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network  --hostname=__HOSTNAME__

# Root password..
rootpw --iscrypted $6$B1aglvyoZtKvQz4q$sJoDb3tuPrzS4dGi6puCV6zNw.1Bbt5.Gih9Cg8/LEunCE9FLKQyjZ01TT1oA2.oGsPQY4dA2soIhUwNYuytw.

# System timezone..
timezone America/New_York --isUtc
user --groups=wheel --name=rludva --password=$6$varVbjwRBizmSaxh$ySVfUmYRQKcKZhw16wWh6s1JzIcJArtAW1aVxXPgB0WpI868uSorZmTiINQ/62PV64jrUr9Bbnso/V9k6yiOz1 --iscrypted --gecos="Radomir Ludva"

# System bootloader configuration..
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
autopart --type=lvm

# Partition clearing information..
ignoredisk --only-use=vda
clearpart --none --initlabel /dev/vda

# Reboot after installation..
reboot

%packages
@^graphical-server-environment
@base
@core
@fonts
@gnome-desktop
@guest-agents
@guest-desktop-agents
@hardware-monitoring
@input-methods
@internet-browser
@x11
bash-completion
bind-utils
bridge-utils
chrony
git
iptables-services
kexec-tools
mc
net-tools
psacct
sos
vim-enhanced
wget
yum-utils

%end

%post --log=/root/kickstart_post.log
__TEMPLATE_KS_POST__

%end

#%addon com_redhat_subscription_manager
#%end
%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
